.cardHolder {
    display: flex;
    flex-wrap: wrap;
}

.pokeCard {
    width: fit-content;
    border: 1px solid lightgray;
    margin: 10px;
}

.pokePic {
    width: 250px;
    height: 250px;
    background-color: rgb(240, 240, 240);

}

.pokeInfo {
    padding: 20px;
    height: 150px;
}

.pokeName {
    font-weight: bold;
}

.pokeId {
    margin-top:10px;
    font-weight: bold;
}

.pokeType {
    margin-top:10px;
    padding-inline-start: 20px;
}

.modal {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
}