<div class="cardHolder">
    <div class="pokeCard" *ngFor="let poke of starterArr" (click)="onClickPokemon(poke.name, poke.sprite)">
        <img class="pokePic" src={{poke.picture}} alt={{poke.name}}>
        <div class="pokeInfo">
            <p class="pokeName">{{poke.name}}</p>
            <p class="pokeId">#{{poke.id}}</p>
            <ul class="pokeType" *ngFor="let type of poke.types">
                <li>
                    {{type.type.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
<app-modal class="modal" [hidden]="isModalShow" (closing)="closeModal()"></app-modal>